**/*.lhtrace-scan.json

# ignore parsed trace outputs
*.pcapng
addr_*.csv
credits*.csv
*.tar.gz

# only track compressed trace
*.bin
*.bin.gz.*.raw

# only track panic txt
*.txt
!panic.txt

*.png
*.pdf
*_latency_breakdown.csv
