[submodule "hw/deps/verilog-axis"]
	path = hw/deps/verilog-axis
	url = https://github.com/alexforencich/verilog-axis
[submodule "hw/deps/verilog-axi"]
	path = hw/deps/verilog-axi
	url = https://github.com/alexforencich/verilog-axi
