out/
hw/gen/**/*.sv
hw/gen/**/*.v
hw/gen/**/*.xdc
.idea/
.bsp/
.bloop/
.metals/
.vscode/
tmp/
simWorkspace/
vivado*.jou
vivado*.log
vivado*.zip
vivado_pid*.str
.Xil/
hs_err_pid*.log
# random tests emit verilog directly here
./*.v
*.core
mill.*

**/.DS_Store

# TLA+ preferences
model/lauberhorn.toolbox/.*

# Nix
.direnv/
result

# git mergetool
**/*.orig
